<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
</head>

<body>
  <div class="contenedor">
    <p id="tituloText">Mi block de Notas</p>
    <div class="contenedor__form">
      <form (submit)="onSubmit(titulo, detalle)">
        <p>Titulo de la nota</p>
        <input type="text" [(ngModel)]="nuevaNota.titulo" name="titulo" class="inputs" 
        #titulo>
        <p>Detalle de la nota</p>
        <textarea cols="30" rows="10" [(ngModel)]="nuevaNota.detalle" name="detalle" class="inputs" #detalle></textarea>
        <button type="submit" class="btn_save">Guardar</button>
      </form>
    </div>
    <!-- Agrega un bloque para mostrar las notas -->
    <div *ngIf="notas && notas.length > 0">
      <h2>Mis notas</h2>
      <ul>
        <li *ngFor="let nota of notas">
          <div class="nota-container">
            <div class="header">
              <strong>{{ nota.titulo }}</strong>
              <!-- Agrega los botones de editar y eliminar en la primera fila -->
              <div class="buttons">
                <button (click)="editarNota(nota)" class="btn_editar">Editar</button>
                <button (click)="deleteNota(nota)" class="btn_eliminar">Eliminar</button>
              </div>
            </div>
            <div class="detalle_nota">
              {{ nota.detalle }}
            </div>
          </div>
        </li>
      </ul>
    </div>
    

    <!-- Agrega un bloque de formulario para editar notas -->
    <div *ngIf="notaParaEditar">
      <h2>Editar Nota:</h2>
      <form (submit)="editarNotaSubmit()">
        <input type="hidden" [(ngModel)]="notaParaEditar.id" name="id">
        <p>Titulo de la nota</p>
        <input type="text" [(ngModel)]="notaParaEditar.titulo" name="titulo">
        <p>Detalle de la nota</p>
        <textarea cols="30" rows="10" [(ngModel)]="notaParaEditar.detalle" name="detalle"></textarea>
        <button type="submit" class="btn_save">Guardar Cambios</button>
      </form>
    </div>
  </div>
</body>

</html>